  <nav class="navbar bg-light">
    <div class="container-fluid">
      <a href="/preguntas">
          <img src="/assets/Marvel_Logo.svg.png" alt="" width="200" height="75">
        </a>
        
        
      <form *ngIf="userLogged|async as user">
        <button class="btn p-button-secondary" style="margin-right: 10px;" disabled="true">Bienvenido {{user.email}}</button>  
        <button pButton pRipple type="button" class="p-button-outlined p-button-danger" style="text-align: center;" [disabled]="disabled" (click)="SignOut()"><i class="pi pi-power-off" style="margin-left: 5px;"></i></button>
      </form>     
      <button *ngIf="disabled" pButton pRipple type="button" label="Iniciar Sesion" class="p-button-warning" (click)="login()"></button>
      

     
    </div>
  </nav>