<mat-toolbar style="margin-top: 3%;">
    <span>
        <img class="manImg" src="/assets/Marvel_Logo.svg.png" width="200px">
    </span>

    <a mat-button style="margin-right: 10%; margin-left: 10%;" (click)="goToHome()">Home</a>
    <a mat-button style="margin-right: 10%;" (click)="goToCards()">Cards</a>
    <a mat-button style="margin-right: 10%;">History</a>

    <span>
        <img class="manImg" src="/assets/sofkau.webp" width="200" style="margin-right: 20%;">
    </span>
</mat-toolbar>
<mat-toolbar *ngIf="user.uid">

    <a mat-button (click)="goToProfile()" style="margin-left: 85%;">
      Profile
    </a>
  
    <a mat-button (click)="SignOut()">
      Log out
    </a>
  </mat-toolbar>